In [1]:
import pandas as pd 
from sqlalchemy import create_engine

engine = create_engine("postgresql://epigraph:epigraph@localhost:5432/epigraphhub")

In [2]:
def load_df(filename):    
    df = pd.read_csv(filename)

    del df['Unnamed: 0']
    #df.set_index('date', inplace = True)
    df.date = pd.to_datetime(df.date)
    
    return df

def save_to_database(df, table_name):
    df.to_sql(table_name, engine, schema= 'switzerland', if_exists = 'replace')

In [3]:
df_icu1 = load_df('ICU_all_cantons.csv')

df_icu2 = load_df('ICU_all_cantons2.csv')

df_icu = pd.concat([df_icu1, df_icu2])

df_icu

          date      lower     median      upper canton
0   2022-01-15  16.180848  16.396696  16.615423     AG
1   2022-01-16  16.776002  17.092895  17.415775     AG
2   2022-01-17  16.466722  16.822620  17.186210     AG
3   2022-01-18  15.901251  16.493723  17.108270     AG
4   2022-01-19  15.650135  16.195545  16.759962     AG
..         ...        ...        ...        ...    ...
107 2022-01-24   6.347179   7.590589   9.077582     VS
108 2022-01-25   6.556823   7.612981   8.839261     VS
109 2022-01-26   7.724075   8.918290  10.297142     VS
110 2022-01-27   7.877411   8.648033   9.494043     VS
111 2022-01-28   6.711629   8.414655  10.549810     VS

[364 rows x 5 columns]

In [4]:
save_to_database(df_icu, 'ml_for_icu_all_cantons')

In [5]:
df_hosp1 = load_df('total_hosp_all_cantons1.csv')

df_hosp2 = load_df('total_hosp_all_cantons2.csv')

df_hosp = pd.concat([df_hosp1, df_hosp2])

df_hosp

          date      lower     median       upper canton
0   2022-01-15  91.345763  92.316731   93.298020     AG
1   2022-01-16  90.639791  92.592536   94.587350     AG
2   2022-01-17  96.899478  99.108188  101.367244     AG
3   2022-01-18  95.947581  98.398554  100.912136     AG
4   2022-01-19  93.006803  96.032861   99.157375     AG
..         ...        ...        ...         ...    ...
107 2022-01-24  62.312937  67.070053   72.190338     VS
108 2022-01-25  56.493264  64.712198   74.126866     VS
109 2022-01-26  68.764578  72.435496   76.302381     VS
110 2022-01-27  46.564615  51.972481   58.008399     VS
111 2022-01-28  55.807535  61.824213   68.489558     VS

[364 rows x 5 columns]

In [6]:
save_to_database(df_hosp, 'ml_for_total_all_cantons')